* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: royalblue;
}
.container {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}
.container h2 {
    text-align: center;
    font-size: 35px;
    color: red;
    margin: 20px;
}
.container .content {
    margin: 25px 20px 35px;
}
.word-div .word {
    height: 40px;
    font-size: 33px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 24px;
    margin-right: -24px;
    text-transform: uppercase;
}
.content input {
    width: 92%;
    height: 60px;
    font-size: 18px;
    padding: 0 16px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 15px;
}
.buttons button {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: calc(100% / 2 - 8px);
    border: none;
}
.new-word {
    background-color: red;
}
.submit {
    background-color: green;
}
.hint, .timer {
    height: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.red {
    color: red;
}

